<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xdd.commonmould">

    <!-- 获取设备网络状态，禁用后无法获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络权限，当禁用后，无法进行检索等相关业务 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取设备的网络状态，鉴权所需网络代理 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>